*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}
header{
    height: 100px;
}

#logo{
    height: 70px;
}

nav li{
    display: inline;
    padding:10px;
    color: hsl(0deg 0% 78%);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

nav{
    padding: 20px 0px;
}

main{
    background-color: hsl(207deg 100% 49%);
}

#hero{
    position: relative;
    background: url("img/banner.jpg");
    background-size:cover;
    height: 500px;
    width: 1200px;
    margin: 20px 0px; 
    vertical-align: middle;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }

#text-hero{
    
}



#blue-section{
    background-color: hsl(203deg 54% 79%);
    height: 600px;
    margin: 20px 0px;

}

#footer{
    background-color: hsl(272deg 99% 50%);
    height: 100px;
    margin-top: 20px;
}

#header-blue-section{
    height: 100px;
    border-bottom: 15px solid hsl(207deg 100% 49%);
    margin-top: 20px;

}

#left-blue-section{
    height: 500px;
    width: 20%;
    float: left;
    border-right: 15px solid hsl(207deg 100% 49%);

}

#central-blue-section{
    height: 500px;
    width: 60%;
    float: left;
}

#right-blue-section{
    height: 500px;
    width: 20%;
    float: right;
    border-left: 15px solid hsl(207deg 100% 49%);

}